RewriteEngine On
# RewriteBase /

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^Expired license.expired.php [NC,L]
RewriteRule ^Deactivated license.deactivated.php [NC,L]
RewriteRule ^Dashboard dashboard.php [NC,L]
RewriteRule ^Login index.php [NC,L]
RewriteRule ^Accounts account.all.php [NC,L]
RewriteRule ^Account-config account.config.php [NC,L]